<div class="row">
	<div class="large-12 columns">
		<h1 class="name">Resume</h1>
	</div>
</div>

<div class="row">
	  <div class="small-6 columns"><a href="https://twitter.com/GoddessInnana" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><!-- <img class="twitter button" src="http://designpieces.com/wp-content/uploads/2013/01/shape-twitter.png"> -->
	  <%= image_tag "twitter.png", class: 'twitter button' %></a>
	  </div>
	 
	  <div class="small-6 columns"><a href="https://www.linkedin.com/pub/emma-laroche/3a/111/8b9" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><!-- <img class="linkedin button" src="http://www.iconpng.com/png/ios7_icons/linkedin.png">--><%= image_tag "linkedin.png", class: 'linkedin button' %></a>
	  </div>
</div>
<div class="row">
	<div class="small-12 columns">
		<a href="https://github.com/erlaroche" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><!-- <img class="octocat button" src="http://reno.gov/home/showimage?id=6126"> --><%= image_tag "octocat.png", class: 'octocat button' %></a>
	</div>
</div>

<div class="row">
	<h1 class="makersquare">Technology and Skills</h1>
</div>
<div class="row">
	<div class="medium-12 columns">
		<div class="technology">
			<p>● Working knowledge of git, GitHub, Bitbucket, HTML, CSS, SASS, Foundation, Bootstrap, and basic Ruby on Rails.</p>
			<p>● Superior presentation and public communication skills, capable of working well independently or in a collaborative group</p>
			<p>● Familiar with Apple Products, Personal Computers, Calculators, Printers, Fax Machines, Prezi, and Microsoft Office Suite (Word, Excel, PowerPoint, and Outlook)</p>
			<p>● Able to speak, read, and write basic Spanish</p>
		</div>
	</div>
</div>

<div class="opacity"></div>
<div class="row">
	<h1 class="makersquare">Education</h1>
</div>
<div class="row">
	<div class="small-6 columns">
		<div class="makersquare">
			<a href="http://www.makersquare.com/" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u><h2>MakerSquare Graduate</h2></u></a>
			<h4>February 2014</h4>
			<h4><a href="https://recruit.makersquare.com/?v=elaroche3" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u>Maker Square Profile</u></a></h4>
			<p>Studied HTML, CSS, JavaScript, and Ruby on Rails</p>

			<p>Graduates of MakerSquare are full stack developers that build web applications using Ruby on Rails, JavaScript, jQuery, HTML/CSS, Git, and complete two weekend­long hackathons.</p>
		</div>
	</div>
	<div class="small-6 columns">
		<div class="makersquare">
		<a href="http://www.shsu.edu/" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u><h2>Sam Houston State University Graduate</h2></u>
		<h4>May 2009</h4>
		<p>Bachelor of Arts, Major: History, Double Minor: Political Science, English</p>
		</div>
	</div>
</div>
<div class="opacity"></div>
<div class="row">
	<h1 class="makersquare">Projects</h1>
</div>
<div class="row">
<!-- <div class="small-6 columns">
	<div class="makersquare">
		<h4><a href ="#" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u>Spalshpage and Image Gallary for Miss Carol's Ballet Boutique</u></a></h4>
		<p>Role: Created and designed website for small business owner in North Houston who specializes in headbands, barretts, and ballet bags for young dancers.</p>
		<p>Info: Functional after 12 hours of individuaal design.</p>
		<p>Link: <a href="#"><u>www.misscarolsballetboutique.com/</u></a></p>
	</div>
</div> -->
	<div class="small-6 columns">
		<div class="makersquare">
			<h4><a href ="https://leverageassessments.herokuapp.com/" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u>Landing Page - Leverage Assessments</u></a></h4>
			<p>Role: Created and designed temporary landing page for <a href="https://www.leverageassessments.com/" >Leverage Assessments.com</a>.</p>
			<p>Info: 20 hours of individual programming.</p>
			<p>See it live on their<a href="https://www.facebook.com/capitalacquisitionsinc"><u>Facebook Page</u></a></p>
			<p><%= image_tag "", class: </p>
		</div>
	</div>
	<div class="small-6 columns">
		<div class="makersquare">
			<h4><a href ="https://www.linkedin.com/company/capital-acquisitions-inc-?trk=company_logo" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u>Logo for Capital Aquisitions, INC</u></a></h4>
			<p>Role: Created and designed image of the Austin skyline for a local company.</p>
			<p>Info: 15 hours of individual Photoshop design.</p>
			<p>See it live on their Facebook Page: <a href="https://www.facebook.com/capitalacquisitionsinc/photos/a.1555378184732340.1073741829.1548259002110925/1556419984628160/?type=3&theater"><u>https://www.facebook.com/capitalacquisitionsinc</u></a></p>
			<p><%= image_tag "capitalaquisitionslogo.jpg", class: 'capitalaquisitionslogo' %></p>
		</div>
	</div>
	<div class="small-6 columns">
		<div class="makersquare">
			<h4><a href ="https://birdwatchin.herokuapp.com/users/sign_up" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u>Bird Watchin' App</u></a></h4>
			<p>Role: Built social media CRUD app for bird watchers to log entries regarding recent bird sightings or view featured birds using HTML5, CSS3, Foundation, SASS, and Devise for authentication</p>
			<p>Info: Functional after 30 hours of individual programming</p>
			<p>Link: <a href="https://birdwatchin.herokuapp.com/"><u>https://birdwatchin.herokuapp.com/</u></a></p>
			<p>Repo: <a href="https://github.com/erlaroche/bird_watch"><u>https://github.com/erlaroche/bird_watch</u></a></p>
		</div>
	</div>
	<div class="small-6 columns">
		<div class="makersquare">
			<h4><a href ="https://github.com/erlaroche/crawl" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u>Pub Crawl</u></a></h4>
			<p>Role: Built a Responsive mobile site both aesthetically pleasing and user friendly utilizing HTML5, CSS3, Bootstrap, and Ruby on Rails</p>
			<p>Info: Functional after 16 hours of programming with 2 partners</p>
			<!-- <p>Link: <a href="https://birdwatchin.herokuapp.com/"><u>https://birdwatchin.herokuapp.com/</u></a></p> -->
			<p>Repo: <a href="https://github.com/erlaroche/crawl" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u>https://github.com/erlaroche/bird_watch</u></a></p>
		</div>
	</div>
</div>
<div class="opacity"></div>
<div class="row">
	<h1 class="makersquare">Internship</h1>
</div>
<div class="row">
	<div class="small=12 columns">
		<div class="makersquare">
			<h2><a href="http://www.astonishdesign.com/about-us/our-team" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u>Junior Developer Internship at Astonish Design</u></a></h2>
			<h4>April 2014 – August 2014</h4>
			<p>Astonish Design utilizes Agile Scrum methods to create web and mobile software for businesses while practicing outstanding client services. My junior developer position focused on learning the basics of Drupal, PHP, and SASS while working with a team to develop products that were client-specific.</p>
		</div>
	</div>
</div>
<div class="opacity"></div>
<div class="row">
	<h1 class="makersquare">Community Involvement</h1>
</div>
<div class="row">
	<div class="small-12 columns">
		<div class="makersquare">
			<h2><a href="http://www.itascaisd.org/" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u>Technology Volunteer: GT and Robotics Team Itasca ISD</u></a></h2>
			<div>
				<h4>April 2014</h4>
				<p>Work with gifted/talented students and students from the robotics team grades 4th - 6th to teach basic programming skills like HTML, CSS, and JavaScript</p>
				<p>Assist in creating a coding curriculum for Itasca ISD</p>
			</div>
		</div>
	</div>
</div>
<div class="opacity"></div>